@mixin flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
